<!-- views/users.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <h1>User List</h1>
    <p>Current time: <%= requestTime %></p>
    <ul>
      <% users.forEach(user => { %>
      <li><%= user.name %> - <%= user.email %></li>
      <% }); %>
    </ul>
    <a href="/">Home</a>
  </body>
</html>
